<div class="header bg-gradient-danger py-7 py-lg-8">
  <app-header-login-register></app-header-login-register>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <app-sign-in-with></app-sign-in-with>
        <app-sign-in-with-credentials></app-sign-in-with-credentials>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/register']" class="text-light"><small>Register</small></a>
        </div>
      </div>
    </div>
  </div>
</div>